li,
span,
ul {
	margin: 0;
}

.main {
	overflow: hidden;
}

.indexitm-banner {
	display: flex;
	background: #f0f7ff;
	height: 260px;
	margin-bottom: 0;
}

.index-wrap {
	width: 1070px;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	position: relative;
	padding: 0 16px;
	background: url(../Images/housing/Desktop-banner.webp) no-repeat;
	background-position: right;
}

.indexitm-banner-l,
.indexitm-banner-r {
	text-align: center;
}

.indexitm-banner-l {
	width: 50%;
}

.indexitm-banner-r {
	position: relative;
	align-self: end;
	width: 41%;
}

.indexitm-banner-r img {
	width: 100%;
	object-fit: cover;
	height: auto;
	opacity: 1;
}

.c-l {
	font-family: GoogleSans;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	opacity: 0.5;
	text-align: left;
}

.indexitm-banner-tit {
	width: 100%;
	margin: 20px 0;
	font-family: GoogleSans;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	letter-spacing: 0;
	color: #142144;
	text-align: left;
}

.indexitm-search-wrap {
	width: 100%;
	box-sizing: border-box;
	flex-wrap: wrap;
	background: #fff;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	width: auto;
	margin: auto;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
}

.indexitm-search-wrap li {
	width: calc(50% - 8px);
}

.loc-btn {
	display: block;
	width: 100%;
	height: 48px;
	border-radius: 24px;
	background-color: #1174eb;
	font-family: GoogleSans;
	font-weight: 700;
	font-size: 16px;
	line-height: 48px;
	color: #fff;
}

.loc-btn .icon-loc {
	margin-right: 8px;
	fill: #fff;
	vertical-align: middle;
}

.select-wrap {
	position: relative;
	width: 100%;
	margin: 0;
}

.location-select {
	width: 100%;
	height: 48px;
	padding: 0 16px;
	outline: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 24px;
	color: rgb(29 47 94 / 50%);
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	border: none;
	background: #fff;
}

.icon-gt {
	position: absolute;
	right: 16px;
	top: 20px;
	fill: #1174eb;
	pointer-events: none;
	transform: rotate(90deg);
}

.contents {
	margin-top: 20px;
	margin-bottom: 30px;
}

.title_box img {
	display: none;
}

.title {
	font-family: GoogleSans;
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	color: #142144;
}
.select-title {
	font-size: 24px;
}

.title_box {
	margin-bottom: 20px;
	position: relative;
}

.sub-box {
	margin-bottom: 16px;
	margin-top: 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sub-content {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: #142144;
	flex: 1;
}

.filter {
	font-family: GoogleSans;
	font-weight: 800;
	font-size: 16px;
	line-height: 16px;
	color: #142144;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-filter {
	width: 12px;
	height: 12px;
	fill: #142144;
	margin-left: 4px;
	transform: rotate(90deg) translateX(1px);
	transition: all 0.3s;
}

.filter-toggle {
	transform: rotate(-90deg) translateX(1px);
}

.filter-box {
	background-color: #fff;
	box-shadow: 0 0 35px 0 rgba(11, 23, 55, 0.16);
	border-radius: 12px;
	padding: 32px 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 320px;
}

.filter-tl {
	font-family: GoogleSans;
	font-weight: 800;
	font-size: 17px;
	line-height: 1.2;
	color: #172142;
	border-bottom: 1px solid #eee;
	padding: 0 32px 16px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon-close {
	width: 16px;
	height: 16px;
	fill: #142144;
	cursor: pointer;
}

.filter-list li {
	margin: 14px 32px 0;
}

.filter-list a {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: #172142;
}

.empty-img {
	width: 70%;
	margin: 32px auto;
	display: block;
}

.s-title {
	margin-top: 15px;
}

.statelist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-bottom: 18px;
}

.statelist li {
	/* margin: 0 0 10px; */
	flex: 0 0 33.33%;
	padding-right: 12px;
	box-sizing: border-box;
}

.statelist li a {
	display: inline-block;
	height: 40px;
	border-radius: 8px;
	padding-right: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	/* border: solid 1px #eee */
}

.detail-left-p {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.state-choose {
	width: 100%;
	display: flex;
	height: 180px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 20px 0;
	border-radius: 8px;
	background: url(../Images/phone/state-banner.png) #eee 50% / cover no-repeat;
}

.state-choose h2 {
	color: #1d2f5e;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 14px 40px;
}

.select-p {
	color: rgba(255, 255, 255, 0.75);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 0 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.filter-bar {
	flex-wrap: wrap;
	border-radius: 8px;
	display: flex;
	padding: 0 40px;
	align-items: center;
	gap: 8px;
	margin: 8px 0 0;
}

.select-box-state {
	flex: 1;
	position: relative;
	width: 259px;
	color: rgba(8, 72, 82, 0.5);
	padding: 11px 16px;
	font-size: 16px;
	background-image: url(../Images/phone/gray-go-1.svg);
	background-repeat: no-repeat;
	background-position: right 18px center;
	background-color: #fff;
	background-size: 14px;
	background-position-y: 17px;
	border-radius: 6px;
	height: 48px;
	border: 2px solid #fff;
	-webkit-appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	border: 2px solid #1d2f5e;
}

.select-box-state p {
	font-size: 16px;
	color: #14214480;
	margin: 0;
}

.state-list {
	width: 259px;
	position: absolute;
	background: #fff;
	top: 49px;
	left: -1px;
	z-index: 888;
	max-height: 301px;
	overflow: auto;
	display: none;
	transition: all 0.5s ease;
	border-radius: 2px;
	box-shadow: 0px 94px 26px 0px rgba(0, 0, 0, 0),
		0px 60px 24px 0px rgba(0, 0, 0, 0.01), 0px 34px 20px 0px rgba(0, 0, 0, 0.03),
		0px 15px 15px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.state-list li {
	padding-left: 16px;
	color: #112347;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
}

.button-results {
	position: relative;
	box-sizing: border-box;
	border-radius: 2px;
	background: #1d2f5e;
	display: flex;
	width: 130px;
	height: 48px;
	padding: 16px;
	color: #fff;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
}

.button-results:hover {
	background: #1174eb;
}

.detail-left h3 {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.statelist li a:hover,
.statelist li a:hover span {
	color: #3c69e0;
	border-color: #3c69e0;
}

.select-title-box {
	margin-bottom: 10px;
}

.statelist .location_box {
	width: 32px;
	height: 32px;
	background-color: rgb(60 105 224 / 20%);
	border-radius: 50%;
	position: relative;
	display: inline-block;
	margin-right: 12px;
}

.statelist .location {
	width: 14px;
	height: 16px;
	fill: #3c69e0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.statelist .next {
	width: 7px;
	height: 12px;
	fill: #aaa;
	margin-left: 12px;
}

.statelist .statetitle {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #333;
	display: inline-block;
	vertical-align: middle;
}

.statelist .statetitleleft {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.statelist .statetitleright {
	color: #aaa;
	float: right;
	font-size: 14px;
	display: none;
}

.statelists {
	margin-right: -16px;
}

.statelists li {
	width: 50%;
	margin-bottom: 16px;
	padding-right: 16px;
	display: inline-block;
	vertical-align: text-top;
	box-sizing: border-box;
}

.statelists li .statelists-link {
	display: block;
	padding: 30px 32px;
	line-height: 19px;
	border-radius: 4px;
	border: solid 1px #fff;
	background-color: #fff;
	border: solid 1px #eee;
	position: relative;
}

.statelists li:hover .statelists-link {
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
}

.statelists li a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.statetitle {
	font-family: GoogleSans;
	font-weight: 800;
	font-size: 14px;
	font-weight: 700;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: 0;
	color: #142144;
}

.statelists .statetitle {
	font-family: GoogleSans;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.statelists li:hover .statetitle,
.statelists li:hover a {
	color: #3c69e0;
	border-color: #3c69e0;
}

.more {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 20px;
}

.like {
	width: 38px;
	height: 38px;
	display: block;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.like_icon_inside {
	width: 22px;
	display: inline-block;
	margin-right: 12px;
}

.like_office {
	border-radius: 22px;
	border: solid 1px #ddd;
	width: 48.5%;
	height: 43px;
	color: #142144;
	text-align: center;
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 45px;
	flex: 0 0 48.5%;
}

.like_office .icon_fav {
	left: auto;
	transform: translate(0, -50%);
}

.more .next-clinic-btn {
	margin-top: 0;
}

.icon_fav {
	width: 22px;
	height: 22px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.icon_fav2 {
	fill: transparent;
}

.icon_fav1 {
	fill: #3c69e0;
	z-index: 9;
}

.add-fly {
	display: block;
	position: absolute;
	z-index: 99;
	visibility: hidden;
	width: 20px;
	height: 20px;
	transition: transform 0.2s;
	transition-timing-function: linear;
}

.add-fly-item {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #3c69e0;
	transition: transform 0.2s;
	transition-timing-function: cubic-bezier(0.55, 0, 0.85, 0.36);
}

.address {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #666;
	height: 40px;
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

.address .street {
	margin-bottom: 6px;
}

.statelists .location,
.statelists .phone {
	width: 16px;
	height: 16px;
	fill: #333;
	vertical-align: middle;
	margin-right: 8px;
	flex: 0 0 16px;
}

.statelists .statelists-imgli .statelists-link {
	padding: 0;
	border-radius: 8px;
}

.statelists .statelists-imgli .statelists-link:hover .most-phone {
	background-color: #f4f7fd;
}

.statelists .statelists-imgli .statelists-link:hover .most-price {
	background-color: #0065e1;
}

.statelists-imgli .most-img {
	height: 180px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.imgli-box {
	position: relative;
}

.imgli-box .like {
	position: absolute;
	top: 8px;
	right: 8px;
}

.imgli-box .like:hover .icon_fav1 {
	fill: #fff;
}

/* .imgli-box .like:hover .icon_fav2 {
    fill: #ff2b2b;
    opacity: 1
} */

.imgli-box .icon_fav1 {
	width: 26px;
	height: 26px;
	fill: #fff;
}

.imgli-box .icon_fav2 {
	width: 26px;
	height: 26px;
	opacity: 0.5;
	fill: #000;
}

.imgli-box .remove .icon_fav2 {
	fill: #ff2b2b;
	opacity: 1;
}

.statelists-imgli .statetitle {
	margin: 12px 16px 8px;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

.statelists-imgli .most-bottom {
	justify-content: space-between;
	padding: 10px 16px 14px;
}

.state-address {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #142144;
	opacity: 0.75;
	margin: 0 16px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.statelists-imgli .most-left {
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -1px;
	color: #142144;
}

.statelists-imgli .most-right {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-right: 12px;
	flex: 0 0 34px;
}

.statelists-imgli .most-phone {
	background-color: #fff;
	border: solid 1px rgb(60 105 225 / 35%);
	vertical-align: top;
}

.statelists-imgli .most-phone .next {
	fill: #3c69e0;
}

.most-price {
	display: inline-block;
	width: 118px;
	height: 36px;
	background-color: #0065e1;
	border-radius: 18px;
	font-family: GoogleSans;
	font-size: 14px;
	line-height: 36px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}
.pagination {
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.pagination li {
	display: inline-block;
	border-radius: 2px;
	margin-right: 4px;
	margin-top: 4px;
	cursor: pointer;
	width: 35px;
}
.pagination li:not(.dot) {
	border: 1px solid #1173eb;
}
.pagination li a {
	color: #1173eb;
	width: 100%;
	display: block;
	padding: 7px 0;
}

.pagination li.active a,
.pagination li:not(.dot):hover a {
	background-color: #1173eb;
	color: #fff;
}

.faq-box {
	margin-bottom: 20px;
}

.faq-add,
.faq-reduce {
	width: 20px;
	height: 20px;
	fill: #142144;
	margin-left: 16px;
	flex: 0 0 20px;
}

.faq-reduce {
	display: none;
}

.open-box .faq-add {
	display: none;
}

.open-box .faq-reduce {
	display: block;
}

.essay {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #142144;
	/* opacity: .75 */
}

.essay a,
.essay u {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #142144;
}
.essay a {
	text-decoration: underline;
	color: #1174eb;
}
.essay h3 {
	margin-bottom: 14px;
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #111;
	display: inline-block;
}

.essay li {
	list-style: disc;
	margin-left: 14px;
}

.essay li:not(:last-child) {
	margin-bottom: 4px;
}

.essay strong {
	margin-bottom: 16px;
	display: inline;
	line-height: 22px;
}

.essay b {
	font-weight: 700;
}

.hta-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.hta {
	display: flex;
	justify-content: space-between;
}

.hta-box img {
	width: 172px;
	object-fit: cover;
	margin-right: 64px;
}

table {
	width: 100%;
	border: solid 1px rgb(20 27 46 / 15%);
	border-collapse: collapse;
}

th {
	background-color: rgb(20 27 46 / 15%);
}

tr:nth-child(odd) {
	background-color: rgb(20 27 46 / 4%);
}

td,
th {
	font-family: GoogleSans;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #141b2e;
	text-align: left;
	padding: 14px 20px;
	border-right: solid 1px rgb(20 27 46 / 15%);
}

td:first-child,
th:first-child {
	width: 50%;
}

.dt-provided {
	margin-bottom: 24px;
}

.dt-provided:last-child {
	border-bottom: none;
}

.dt-provided .b-tl {
	font-size: 24px;
	line-height: 1.1;
	color: #333;
	margin-top: 0;
}

.dt-provided .s-tl {
	margin-bottom: 14px;
	font-family: GoogleSans;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-size: 20px;
	line-height: 24px;
	color: #142144;
	display: inline-block;
}

.sub-tl {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #142144;
	opacity: 0.5;
	margin-bottom: 14px;
}

.map {
	position: relative;
}

.map-wl {
	width: 400px;
	flex: 0 0 400px;
}

.info_desc {
	font-family: GoogleSans;
	font-weight: 400;
	color: #333;
	font-size: 16px;
	line-height: 32px;
	padding-left: 32px;
}

.info li {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #142144;
	margin-bottom: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.info li:last-child {
	margin-bottom: 0;
}

.info a.info_span {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #3c69e0;
}

.info a.info_span:hover {
	color: #1174eb;
	text-decoration: underline;
}

.info li svg:not(.infowl-icon) {
	width: 20px;
	height: 20px;
	fill: #3c69e0;
	margin-right: 12px;
}

.next-clinic-btn {
	display: block;
	text-align: center;
	width: 48.5%;
	height: 45px;
	background: #1174eb;
	border: 1px solid #1174eb;
	border-radius: 22px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	font-weight: 500;
	font-family: GoogleSans;
	font-weight: 400;
	flex: 0 0 48.5%;
}
.next-clinic-btn:active {
	background: #0065e1;
	border: 1px solid #0065e1;
}
.icon-clinic-button {
	width: 20px;
	height: 20px;
	fill: #fff;
	vertical-align: middle;
	margin-right: 12px;
	transform: translateY(-1px);
}

.next-clinic-wl {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.next-clinic-wl .next-clinic-btn {
	display: block;
	text-align: center;
	width: 48.5%;
	height: 43px;
	background-color: #fff;
	border-radius: 22px;
	border: solid 1px #ddd;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 45px;
	color: #142144;
	flex: 0 0 48.5%;
}

.next-clinic-wl .next-clinic-blue {
	background-color: #1173eb;
	color: #fff;
}

.info li span:nth-child(2) {
	flex: 1;
}

.info li span:nth-child(2) span {
	float: right;
}

.btn {
	display: inline-block;
	cursor: pointer;
	width: 110px;
	height: 24px;
	border-radius: 4px;
	border: solid 1px #3c69e0;
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: #3c69e0;
}

.hide {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.state_list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.state_list li {
	margin-bottom: 8px;
	border-radius: 4px;
	border: solid 1px #f5f5f5;
	padding: 8px 16px;
}

.state_list li:last-child {
	margin-bottom: 0;
}

.state_list li .state_list_box {
	display: flex;
	flex-direction: column;
}

.state_list li:hover,
.state_list li:hover .state_title {
	color: #3c69e0;
	border-color: #3c69e0;
}

.state_title {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 14px;
	font-weight: 400;
	font-stretch: normal;
	line-height: 22px;
	letter-spacing: 0;
	color: #333;
	float: left;
}

.url {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 14px;
	font-weight: 400;
	font-stretch: normal;
	line-height: 22px;
	letter-spacing: 0;
	color: #999;
	margin-left: 0;
	float: right;
}

.shortListButton {
	width: 180px;
	height: 40px;
	background-color: #fff;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	position: fixed;
	bottom: 120px;
	right: -40px;
	text-align: center;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 99;
	padding-left: 16px;
	box-sizing: border-box;
}

.shortListButton .icon_fav1 {
	width: 18px;
	height: 40px;
	fill: #1374eb;
	margin-right: 8px;
}

.Rem {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	color: #1273eb;
}

.wishBarCover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: rgb(0 0 0 / 60%);
	z-index: 999;
}

.wishBar {
	overflow-y: auto;
	width: 414px;
	display: block;
	position: fixed;
	bottom: 115px;
	z-index: 999;
	-webkit-transition: right 150ms linear 0s;
	-moz-transition: right 150ms linear 0s;
	-ms-transition: right 150ms linear 0s;
	transition: right 150ms linear 0s;
	height: 410px;
	right: -414px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	border-radius: 16px 0 0 16px;
}

.expanded {
	right: 0;
}

.wishList_hd {
	height: 76px;
	background-color: #f5f5f5;
	padding: 20px;
	box-sizing: border-box;
}

.collect {
	margin-bottom: 4px;
}

.totalnum {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #999;
	transition: all ease 0.5s;
}

.wishList_hd .icon_game {
	cursor: pointer;
	width: 16px;
	height: 16px;
	fill: #2e6de7;
	position: absolute;
	right: 24px;
	top: 24px;
}

.if_none {
	width: 100%;
	text-align: center;
	margin-top: 110px;
	display: none;
}

.if_none_tl {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #999;
}

.icon_none {
	width: 55px;
	height: 46px;
	opacity: 0.75;
}

.favourites_added {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
	width: 100%;
	background-color: transparent;
}

.favourites_added tr {
	border-bottom: 1px solid #ccc;
}

.favourites_added tr td {
	padding: 10px 0;
}

.favourites_added td:first-child {
	width: auto;
	border-right: none;
}

.favourites_added tr td a {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 13px;
	font-weight: 400;
	color: #333;
	line-height: 20px;
	letter-spacing: 0;
	transition: all ease 0.5s;
	padding-left: 20px;
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.favourites_added .delet {
	cursor: pointer;
	width: 16px;
	height: 16px;
	padding-right: 20px;
	float: right;
}

.dont_show {
	display: none;
}

.remove {
	border-color: #e83838 !important;
	color: #e83838;
}

.remove svg {
	fill: #e83838;
}

.icon_fav1.remove svg,
.remove + .icon_fav svg {
	fill: #e83838;
}

.adswp {
	margin: 10px 0;
}

.ads7 {
	margin: 12px 0;
}

.ads9 {
	margin: 20px 0;
}

.statelistwl-change {
	padding: 4px;
	background-color: rgb(229 229 229 / 75%);
	border-radius: 22px;
	font-size: 0;
}

.statelistwl-change div {
	width: 50%;
	display: inline-block;
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	color: #142144;
	text-align: center;
}

.statelistwl-change div:first-child {
	background-color: #fff;
	border-radius: 18px;
}

.statelistwl-change a {
	width: 100%;
	display: block;
	color: #142144;
}

.new-list-btn {
	display: block;
	width: 100%;
	height: 150px;
	background-color: #3066e1;
	border-radius: 8px;
	background-image: url(../Images/housing/Explore-more.webp);
	background-repeat: no-repeat;
	background-position: center;
	font-family: GoogleSans;
	font-size: 28px;
	font-weight: 500;
	line-height: 150px;
	color: #fff;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
	text-align: center;
}

.new-list-btn .right-arrow {
	width: 20px;
	height: 17px;
	fill: #fff;
	margin-left: 8px;
}

.new-list-btn:hover {
	background-image: url(../Images/housing/Explore-more-hover.webp);
}

.provided-img {
	width: 100%;
	margin-bottom: 16px;
}

.statelistwl-tab {
	margin-right: -8px;
	display: flex;
	margin-bottom: 24px;
}

.statelistwl-tab li {
	padding-right: 8px;
	box-sizing: border-box;
}

.statelistwl-tab div {
	background-color: #fff;
	border-radius: 18px;
	border: solid 1px rgb(196 199 208 / 75%);
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #142144;
	padding: 8px 16px;
	transition: 0.3s all;
	cursor: pointer;
}

.statelistwl-tab div:hover {
	background-color: #142144;
	border-color: #142144;
	color: #fff;
}

.wl-active-tab div {
	background-color: #142144;
	border-color: #142144;
	color: #fff;
}

.wl-title {
	font-family: GoogleSans;
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
	color: #142144;
}

.statelists-wl {
	margin-right: -16px;
}

.statelists-wl > li {
	width: 100%;
	padding-right: 16px;
	box-sizing: border-box;
	flex: 0 0 100%;
	margin-bottom: 12px;
}

.statelistwl-left {
	flex: 1;
}
.statelists-wl .statelistwl {
	display: inline-block;
	padding: 16px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 8px;
	border: solid 1px #eee;
	position: relative;
	transition: all 0.3s;
}
.statelists-wl .statelistwl:hover {
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
.statelists-wl .statelistwl:hover .statelistwl-circle2 {
	background-color: #0065e1;
}
.anno-title {
	font-family: GoogleSans;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	color: #142144;
	margin: 20px 0 20px;
}
.statelists-wl > li a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.statetit-wl {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #142144;
	margin-bottom: 6px;
}
.statesubtit-wl {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #142144;
	opacity: 0.75;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.isopen {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
}
.isopen:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-right: 6px;
}
.open {
	color: #01875f;
}
.open:before {
	background-color: #01875f;
}
.close {
	color: #d93025;
}
.close:before {
	background-color: #d93025;
}
.statelistwl-right {
	display: flex;
}
.statelistwl-right li {
	margin-left: 24px;
	text-align: center;
}
.statelistwl-right li:first-child {
	margin-left: 0;
}
.statelistwl-right li.remind {
	z-index: 2;
	cursor: pointer;
}
.statelistwl-circle {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: solid 1px #1173eb;
	border-radius: 50%;
	position: relative;
}
.statelistwl-circle .location {
	width: 15px;
	height: 14px;
	fill: #1173eb;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.statelistwl-circle#star svg {
	width: 12px;
	height: 12px;
}
.statelistwl-circle.statelistwl-blue {
	background-color: #1173eb;
}
.statelistwl-circle.statelistwl-blue svg {
	fill: #fff;
}
.statelistwl-right span {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0px;
	color: #1173eb;
	margin-top: 8px;
	text-align: center;
}
.statelistwl-right .like {
	width: 40px;
	height: 40px;
	margin: 0;
	border: solid 1px #1173eb;
}
.statelistwl-right .remove + span {
	color: #ff2b2b;
}
.statelistwl-circle2 {
	background-color: #1173eb;
	margin: 0 auto;
}
.statelistwl-circle2 .location {
	fill: #fff;
}
.anno-left .statelistwl-left {
	flex: 0 0 80%;
}
.anno-left .statesubtit-wl {
	display: block;
}
.find {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 88px;
	background-color: #155bdd;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 0 30px 0 20px;
	box-sizing: border-box;
	background-image: url("../Images/housing/Find.webp");
	margin: 30px 0;
	position: relative;
}
.icon-sale {
	width: 36px;
	height: 36px;
	fill: #fff;
	margin-right: 10px;
}
.find-tl {
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	flex: 1;
}
.find-next {
	width: 11px;
	height: 17px;
	fill: #fff;
}

.more-find {
	margin-right: -12px;
}

.more-find li {
	padding-right: 12px;
	margin-bottom: 12px;
	box-sizing: border-box;
	display: inline-block;
}

.more-find .find-list {
	border-radius: 22px;
	border: solid 1px #eee;
	padding: 12px 20px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #142144;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	transition: all 0.3s;
}

.more-find .find-list:hover {
	background-color: #f4f7fd;
}

.find-left {
	width: 20px;
	height: 20px;
	fill: #1173eb;
	margin-right: 12px;
}

.find-cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.shade {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 1111;
}

.subscribe {
	margin: auto;
	position: fixed;
	z-index: 1500;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sub_box {
	width: 870px;
	height: 380px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 65px;
	box-sizing: border-box;
	border-radius: 12px;
	box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.26);
	border: solid 1px #eee;
	z-index: 2222;
}

.sub_box img {
	width: 312px;
	float: left;
}

#subclose {
	position: absolute;
	top: 24px;
	right: 24px;
}

#subclose i {
	color: #818283;
	font-size: 40px;
}

.sub-right {
	width: 390px;
	float: left;
	padding-left: 40px;
	box-sizing: border-box;
}

.sub-right h2 {
	font-size: 46px;
	line-height: 56px;
	font-family: GoogleSans;
	font-weight: 700;
	color: #142144;
	margin-bottom: 12px;
}

.sub-right .after {
	font-size: 44px;
	line-height: 52px;
}

.sub-right p {
	font-family: GoogleSans;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #142144;
	opacity: 0.5;
	margin-bottom: 32px;
}

.sub-main {
	width: 100%;
	display: flex;
}

.sub-right #emailbox {
	display: block;
	width: 316px;
	border: 1px solid #e5e5e5;
	border-radius: 4px 0 0 4px;
	width: 100%;
	height: 48px;
	padding: 0.6rem 0.65rem;
	font-size: 14px;
	color: rgb(20 33 68 / 50%);
	box-sizing: border-box;
	flex: 1;
}

.wrong {
	color: red;
	margin-top: 8px;
	font-family: GoogleSans;
	font-weight: 400;
}

.sub-right .sign {
	width: 120px;
	height: 48px;
	background-color: #1173eb;
	color: #fff;
	font-size: 14px;
	font-family: GoogleSans;
	font-weight: 400;
	cursor: pointer;
	border-radius: 0 4px 4px 0;
}

.sub-right #back {
	width: 230px;
	border-radius: 4px;
	display: none;
	font-family: GoogleSans;
	font-size: 16px;
	line-height: 48px;
	font-weight: 700;
}

.sub-tip {
	display: none;
	position: fixed;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9;
}

.sub-again {
	width: 870px;
	height: 64px;
	padding: 0 20px;
	box-sizing: border-box;
	background-color: #142144;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.sub-again .icon-right {
	width: 28px;
	height: 28px;
	fill: #fff;
	flex: 0 0 28px;
}

.sub-again div {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #fff;
	flex: 1;
	padding: 0 12px;
}

.sub-again .icon-close {
	width: 16px;
	height: 16px;
	fill: #fff;
	flex: 0 0 16px;
}

.infos-wl {
	display: flex;
	margin-top: 32px;
	justify-content: space-between;
	flex: 1;
}

.info-wl li {
	display: flex;
	margin-bottom: 16px;
}

.info-wl li:last-child {
	margin-bottom: 0;
}

.infowl-icon {
	width: 14px;
	height: 14px;
	fill: #142144;
	margin-right: 16px;
	flex-shrink: 0;
}

.infowl-txt div {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #142144;
	opacity: 0.75;
}

.infowl-txt .blue {
	font-style: normal;
	color: #1173eb;
}

.infowl-txt .green {
	color: #01875f;
	font-style: normal;
}

.infowl-txt .red {
	color: #d93025;
	font-style: normal;
}

.infowl-txt .infowl-tit {
	font-weight: 500;
	opacity: 1;
	margin-bottom: 4px;
}

.guide h3,
.guide-h5 {
	display: block;
	background-color: #3e4a68;
	border-radius: 8px 8px 0px 0px;
	font-family: GoogleSans;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	padding: 16px 24px;
	box-sizing: border-box;
	color: #fff;
}
.guide h3 a,
.guide h5 a {
	color: #fff;
	display: flex;
	align-items: CENTER;
	justify-content: space-between;
}

/* .guide h3:hover a {
    color: #1173eb
} */
.guide-box {
	padding: 24px;
	box-sizing: border-box;
	background-color: rgb(20 33 68 / 3%);
	border-radius: 0px 0px 8px 8px;
	margin-bottom: 10px;
}
.guide-box p,
.guide-box h5 a {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	color: #5a637c;
}

.guide p a {
	text-decoration: underline;
	color: #1174eb;
}

.guide-next {
	width: 20px;
	height: 20px;
	fill: #fff;
	flex: 0 0 20px;
	margin-left: 10px;
}

.guide-img {
	height: 240px;
	margin-top: 56px;
}

.guide .new-list-btn {
	background-image: url(../Images/housing/Desktop-pic.webp);
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	padding: 0 20px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 10px 0;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
}
.guide .new-list-btn span {
	flex: 1;
}
.guide .icon-sale {
	width: 36px;
	height: 36px;
	fill: #fff;
	margin-right: 10px;
}
.guide .directory-wrap-btn {
	width: 140px;
	height: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
	border-radius: 20px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #1174eb;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
	text-align: center;
	flex: 0 0 140px;
}

.guide .new-list-btn .right-arrow {
	margin-left: 0;
}

.capital {
	font-family: GoogleSans;
	font-size: 32px;
	font-weight: 900;
	line-height: 1;
	color: rgb(20 33 68 / 25%);
	margin-top: 22px;
	border-top: solid 2px #eee;
	padding-top: 22px;
}

.capital:nth-of-type(1) {
	border-top: none;
	padding-top: 0;
	margin-top: 32px;
}

.glossary h5 a {
	display: block;
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: #142144;
	margin-bottom: 14px;
	margin-top: 22px;
	border-top: solid 2px #eee;
	padding-top: 22px;
}

.glossary p {
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #142144;
	opacity: 0.75;
}

.glossary h5:hover a {
	color: #1173eb;
}

.glossary h5:hover svg {
	fill: #1173eb;
	opacity: 1;
}

.glossary h4 {
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	color: #142144;
	margin-bottom: 14px;
	margin-top: 24px;
}

.guide-btn {
	margin-top: 24px;
	margin-right: -8px;
}

.guide-btn li {
	padding-right: 8px;
	width: 50%;
	text-align: center;
}

.guide-btn-item {
	border-color: #1173eb;
	background-color: #1173eb;
	border-radius: 36px;
	line-height: 36px;
}

.guide-btn li:nth-child(2) div {
	color: #1173eb;
	background-color: #fff;
}

.ab-indexitm-banner {
	background-image: url(../Images/housing/ab-desktop.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ab-indexitm-banner .index-wrap {
	background: 0 0;
}

.ab-indexitm-banner .indexitm-banner-tit {
	color: #fff;
	margin-bottom: 10px;
}
.posts-start .indexitm-banner-tit {
	margin-bottom: 20px;
}

.ab-indexitm-banner .indexitm-banner-desc {
	text-align: left;
	color: #fff;
	margin-bottom: 20px;
	font-size: 20px;
}

.ab-search-wrap .loc-btn {
	width: 280px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background-color: #f5b609;
	color: #333;
	font-weight: 400;
}
.ab-search-wrap .loc-btn:active {
	background-color: #e8ae0f;
}
.ab-search-wrap .loc-btn .icon-loc {
	fill: #333;
	transform: translateY(-2px);
}

.select-state {
	width: 100%;
	margin-bottom: 10px;
	border: none;
}

.select-state select {
	width: 100%;
	color: rgb(20 33 68 / 50%);
	height: 48px;
	padding: 5px 16px;
	font-size: 16px;
	background: url(../Images/housing/Go-1.svg) no-repeat right 18px center
		transparent;
	background-size: 14px;
	background-position-y: 13px;
	border-radius: 28px;
	border: 2px solid #1173eb;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

:focus-visible {
	outline: #1174eb auto 1px;
}

.select-state select:focus-visible {
	outline-offset: 0;
}

.select-text {
	padding: 0;
	font-size: 14px;
	color: #999;
	display: flex;
	flex-direction: row;
	margin: 20px auto;
	margin-right: -20px;
}

.select-box {
	width: 33.33333%;
	display: inline-flex;
	align-items: center;
	position: relative;
	flex-direction: column;
	margin-bottom: 0;
	padding-right: 20px;
}

.step_box {
	width: 100%;
	height: 164px;
	background-color: #fff;
	border-radius: 8px;
	padding: 24px 32px;
	box-sizing: border-box;
	text-align: center;
	border: solid 1px #eee;
	margin-top: 20px;
}

.icon_step {
	width: 64px;
	height: 64px;
	flex: 0 0 64px;
}

.select-text .prog {
	position: relative;
	width: 100%;
	margin-left: 0;
}

.select-text .prog:before {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background-color: #e1e3e7;
	border-radius: 50%;
	margin: 0 auto;
	font-family: GoogleSans;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

.select-box:nth-child(1) .prog:before {
	content: "1";
}

.select-box:nth-child(2) .prog:before {
	content: "2";
}

.select-box:nth-child(3) .prog:before {
	content: "3";
}

.select-box .prog:after {
	content: "";
	display: block;
	width: 50%;
	height: 4px;
	background-color: #e1e3e7;
	position: absolute;
	top: 18px;
	z-index: -1;
}

.select-box:nth-child(1) .prog:after {
	right: -16px;
}

.select-box:nth-child(2) .prog:after {
	width: calc(100% + 32px);
	left: -16px;
}

.select-box:nth-child(3) .prog:after {
	left: -16px;
}

.select-now .prog:after {
	background-color: #1173eb !important;
}

.select-now .prog:before {
	background-color: #1173eb;
}

.select-text .h4 {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	margin-top: 14px;
}

.select-after .h4 {
	color: #142144;
}

.select-after .icon_step {
	opacity: 0.5;
}

.how-to {
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
	background-color: #f5f5f5;
	border-radius: 8px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #8990a1;
	margin-bottom: 20px;
}

.how-to a {
	color: #1173eb;
	font-weight: 700;
}

.announcements p {
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #142144;
	margin-bottom: 16px;
}

.ab-search-wrap {
	width: 450px;
}

.search-wrap {
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
	z-index: 9;
	position: relative;
}

.search-input {
	width: 394px;
	height: 56px;
	border: none;
	padding: 0 20px 0 16px;
	box-sizing: border-box;
	font-size: 14px;
	color: #333;
	flex: 1;
	border-radius: 0;
}

.search-input::placeholder {
	color: #999;
}
.search-btn {
	width: 80px;
	height: 56px;
	background-color: #fca11f;
}

.search-btn:hover {
	background-color: #e97b10;
}

.icon-search {
	fill: #fff;
}
.top_statetitle {
	flex: 1;
	display: flex;
}
.top-more {
	display: block;
	width: 100%;
	background-color: #0065e1;
	border-radius: 30px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 8px;
	text-align: center;
	color: #fff;
}
#credential_picker_container {
	display: none !important;
}

#credential_picker_iframe {
	display: none !important;
}

.liheap-list-item {
	display: inline-block;
	width: 50%;
	margin-bottom: 24px;
	padding-right: 20px;
	box-sizing: border-box;
}
.liheap-list-box {
	border: 1px solid #eee;
	border-radius: 8px;
	transition: 0.2s all;
	overflow: hidden;
	position: relative;
}
.liheap-list-link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.liheap-banner {
	position: relative;
}
.liheap-banner-img {
	width: 100%;
	height: 96px;
	background-color: #082d4b;
	object-fit: cover;
}
.cate-box {
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	position: absolute;
	bottom: 24px;
	left: 24px;
}
.liheap-list-inner {
	padding: 20px 24px 24px;
	box-sizing: border-box;
}
.liheap-list-tit {
	font-family: GoogleSans;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #333;
	margin-bottom: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.liheap-list-desc {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.ctv-icon {
	width: 14px;
	height: 18px;
	fill: #666;
	flex: 0 0 14px;
}
.liheap-list-desc .ctv {
	font-family: GoogleSans;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-left: 16px;
}
.liheap-list-desc {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.ctv-icon {
	width: 14px;
	height: 18px;
	fill: #666;
	flex: 0 0 14px;
}
.liheap-list-btn {
	margin-left: -8px;
	display: flex;
	margin-top: 20px;
}
.liheap-btn-item {
	width: 50%;
	margin-left: 8px;
	height: 44px;
	background-color: rgb(3 96 238/8%);
	border-radius: 4px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	color: #0065e1;
	text-align: center;
}
.view-btn {
	background-color: #0065e1;
	color: #fff;
}

.car-list {
	margin-right: -20px;
	margin-top: 16px;
}
.car-list-item {
	display: inline-block;
	width: 50%;
	margin-bottom: 24px;
	padding-right: 20px;
	box-sizing: border-box;
}
.car-list-box {
	border: 1px solid #eee;
	border-radius: 8px;
	transition: 0.2s all;
	overflow: hidden;
	position: relative;
}
.car-list-link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.car-list-box:hover {
	box-shadow: 0px 2px 20px 0px rgba(51, 51, 51, 0.12);
}
.car-banner {
	position: relative;
}
.car-banner-img {
	width: 100%;
	height: 96px;
	object-fit: cover;
}
.cate-box {
	font-family: GoogleSans;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
	position: absolute;
	bottom: 24px;
	left: 24px;
}
.car-list-inner {
	padding: 20px 24px 24px;
	box-sizing: border-box;
}
.car-list-tit {
	font-family: GoogleSans;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #333;
	margin-bottom: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.car-list-desc {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.ctv-icon {
	width: 14px;
	height: 18px;
	fill: #666;
	flex: 0 0 14px;
}
.car-list-desc .ctv {
	font-family: GoogleSans;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin-left: 16px;
}
.car-list-btn {
	margin-left: -8px;
	display: flex;
	margin-top: 20px;
}
.car-btn-item {
	width: 50%;
	margin-left: 8px;
	height: 44px;
	background-color: rgb(3 96 238 / 8%);
	border-radius: 4px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 500;
	line-height: 44px;
	color: #1174eb;
	text-align: center;
}
.view-btn {
	background-color: #1174eb;
	color: #fff;
}
.off-more {
	display: block;
	width: 100%;
	height: 56px;
	background-color: #fff;
	border-radius: 4px;
	border: solid 2px #1174eb;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 56px;
	color: #1174eb;
	padding: 0 16px;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.icon-more {
	float: right;
	width: 7px;
	height: 52px;
	fill: #1174eb;
	transform: translateY(1px) rotate(90deg);
	transition: 0.5s all;
}

.more {
	margin-bottom: 22px;
	text-align: center;
}
.next-btn {
	width: 100%;
	height: 48px;
	background-color: #1174eb;
	border-radius: 4px;
	font-family: GoogleSans;
	font-size: 16px;
	font-weight: 600;
	line-height: 48px;
	color: #fff;
}
.icon-nearby {
	width: 20px;
	height: 48px;
	fill: #fff;
	margin-right: 10px;
	vertical-align: middle;
}

.info_web {
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: GoogleSans;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	margin-left: 10px;
	cursor: pointer;
	background-color: rgb(51 186 120 / 8%);
	color: #33ba78;
}
.info .info_web .info-icon {
	width: 12px;
	height: 28px;
	fill: #33ba78;
	vertical-align: middle;
	margin-left: 4px;
	transform: translateY(-1px);
	margin-right: 0;
}
.most-read-margin {
	margin-top: 102px;
}

@media screen and (max-width: 1200px) {
	.ab-indexitm-banner .index-wrap {
		width: 970px;
	}
	.indexitm-banner-l {
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	.ab-indexitm-banner .index-wrap {
		width: 824px;
	}

	.ab-indexitm-banner .indexitm-banner-tit,
	.ab-indexitm-banner .indexitm-banner-desc,
	.ab-search-wrap {
		text-align: center;
	}
	.ab-search-wrap,
	.ab-search-wrap .loc-btn {
		margin: 0 auto;
	}
	.c-l {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	.sub-tip {
		width: 100%;
		bottom: 0;
	}

	.sub-again {
		width: 100%;
		border-radius: 0;
	}

	.sub-again span {
		display: none;
	}

	.sub-again .icon-close {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.content-spec {
		margin-top: -10px;
	}

	.main {
		overflow: visible;
	}

	.info_address {
		display: inline-block;
	}

	.filter-box {
		position: absolute;
		top: 20px;
		right: 0;
		left: auto;
		transform: none;
	}

	.empty-img {
		width: 50%;
	}

	/* .statelist li {
        flex: 0 0 100%
    } */

	.faq-box {
		margin-bottom: 20px;
	}

	.statelists li {
		width: 50%;
	}

	.state_list {
		margin-bottom: 24px;
	}

	.s-title {
		margin-top: 24px;
	}

	.shortListButton {
		width: 140px;
		right: 50%;
		bottom: 16px;
		transform: translateX(50%);
		justify-content: center;
		padding-left: 0;
	}

	.wishBar {
		width: 100%;
		border-radius: 16px 16px 0 0;
		bottom: -410px;
		right: auto;
		-webkit-transition: bottom 150ms linear 0s;
		-moz-transition: bottom 150ms linear 0s;
		-ms-transition: bottom 150ms linear 0s;
		transition: bottom 150ms linear 0s;
	}

	.expanded {
		right: auto;
		bottom: 0;
	}

	.indexitm-banner {
		height: 340px;
		margin-bottom: 10px;
	}

	.index-wrap {
		background: url(../Images/housing/Mobile-banner.webp) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.indexitm-banner-tit {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		margin: 32px 0;
	}

	.ab-indexitm-banner .indexitm-banner-desc {
		color: #fff;
		margin-bottom: 14px;
		text-align: center;
	}

	.indexitm-banner-l,
	.indexitm-banner-r {
		width: 100%;
	}

	.indexitm-banner-r img {
		width: 320px;
		object-fit: cover;
		height: auto;
		margin-top: 20px;
		opacity: 1;
	}

	.c-l {
		display: none;
	}

	.indexitm-search-wrap {
		width: 400px;
		box-sizing: border-box;
		margin: auto;
		flex-wrap: wrap;
		padding: 16px;
		background: #fff;
		box-shadow: 0 0 12px 0 rgb(0 0 0 / 14%);
		border-radius: 8px;
	}

	.indexitm-search-wrap li {
		width: 100%;
	}

	.indexitm-search-wrap li:first-child {
		margin-bottom: 12px;
	}

	.location-select {
		height: 40px;
		color: rgb(29 47 94 / 50%);
		background: #f2f2f2;
	}

	.icon-gt {
		position: absolute;
		right: 16px;
		top: 16px;
		fill: #ccc;
		pointer-events: none;
		transform: rotate(90deg);
	}

	.loc-btn {
		height: 40px;
		line-height: 40px;
	}

	.location-select {
		height: 40px;
	}

	.icon-gt {
		top: 16px;
	}

	.infos-wl {
		flex-direction: column;
	}

	.info-wl li:last-child {
		margin-bottom: 16px;
	}

	.map-wl {
		width: 100%;
		flex: 0 0 100%;
		margin-bottom: 0;
	}

	.sub_box {
		width: 420px;
		height: 440px;
		padding: 36px;
		text-align: center;
	}

	.sub_box img {
		width: 224px;
		float: none;
		margin-bottom: 24px;
	}

	.sub-right {
		padding-left: 0;
		width: 100%;
	}

	.sub-right h2 {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 8px;
	}

	.sub-right .after {
		font-size: 24px;
		line-height: 28px;
	}

	.sub-right p {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 18px;
	}

	.sub-main {
		flex-wrap: wrap;
	}

	.sub-right #emailbox {
		text-align: center;
		border-radius: 4px;
		margin-bottom: 6px;
	}

	.sub-right .sign {
		width: 100%;
		border-radius: 4px;
	}

	.spec-adswp {
		margin-top: -10px;
	}

	.ab-indexitm-banner {
		background-image: url(../Images/housing/ab-mobile.webp);
		height: 240px;
	}

	.ab-search-wrap .loc-btn {
		margin: 0 auto;
	}

	.ab-search-wrap {
		width: 280px;
		margin: 0 auto;
	}

	.search-input {
		width: 232px;
		height: 48px;
	}

	.search-btn {
		width: 60px;
		height: 48px;
	}
}
@media screen and (max-width: 620px) {
	.statelist li {
		flex: 0 0 50%;
	}
}

@media screen and (max-width: 600px) {
	.state-choose {
		height: 160px;
	}
	.state-choose h2 {
		margin: 0 auto 8px auto;
	}
	.statelist .location_box {
		margin-right: 8px;
	}
	.statelist li a {
		padding: 0;
	}
	.title {
		font-size: 22px;
		line-height: 28px;
	}
	.select-title {
		font-size: 22px;
	}

	.wl-title {
		font-size: 22px;
		line-height: 28px;
	}

	.title_box {
		margin-bottom: 16px;
	}

	.address {
		flex-direction: row;
	}

	.address .street {
		margin-bottom: 0;
	}

	.statelists li {
		width: 100%;
	}

	.statelists-imgli .statetitle {
		height: atuo;
	}

	.indexitm-banner {
		display: flex;
		height: 210px;
	}

	.indexitm-banner-tit {
		font-size: 26px;
		line-height: 36px;
		margin: 16px 0;
	}

	.ab-indexitm-banner .indexitm-banner-tit {
		font-size: 28px;
		line-height: 32px;
		height: 32px;
		margin-bottom: 22px;
		margin-top: 34px;
	}
	.posts-start .indexitm-banner-tit {
		margin-bottom: 34px;
	}

	.indexitm-banner-r img {
		width: auto;
		height: 90px;
		object-fit: cover;
		margin-top: 8px;
	}

	.statelists-wl .statelistwl {
		flex-direction: column;
		align-items: flex-start;
	}

	.statelistwl-right {
		margin-top: 16px;
	}

	.statelistwl-tab {
		flex-direction: column;
		margin-bottom: 0;
	}

	.statelistwl-tab li {
		margin-bottom: 10px;
	}

	td,
	th {
		font-size: 14px;
		line-height: 18px;
		padding: 12px 16px;
	}

	.hta-box {
		flex-direction: column;
	}

	.hta-box img {
		margin: 16px 0 0;
	}

	.capital:nth-of-type(1) {
		margin-top: 24px;
	}

	.capital {
		margin-top: 16px;
		padding-top: 16px;
	}

	.glossary h5 a {
		margin-top: 16px;
		padding-top: 16px;
		margin-bottom: 12px;
	}

	.guide-btn li {
		width: 100%;
	}

	.guide .new-list-btn {
		background-image: url(../Images/housing/Mobile-pic.webp);
		font-size: 18px;
		height: 60px;
	}
	.guide .icon-sale {
		height: 30px;
		width: 30px;
	}
	.guide .directory-wrap-btn {
		display: none;
	}
	.guide-box {
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 24px;
		padding-right: 24px;
	}

	.select-text {
		flex-direction: column;
		margin-right: 0;
		margin: -10px auto 10px;
	}

	.select-box {
		width: 100%;
		align-items: center;
		flex-direction: row;
		padding-right: 0;
	}

	.select-text .prog {
		width: auto;
		margin-right: 20px;
		position: static;
	}

	.select-box .prog:after {
		width: 4px !important;
		height: 50%;
		right: auto !important;
		bottom: 0;
		top: auto;
		left: 18px !important;
	}

	.select-box:nth-child(1) .prog:after {
		bottom: -8px;
	}

	.select-box:nth-child(2) .prog:after {
		height: 100%;
		bottom: -8px;
	}

	.select-box:nth-child(3) .prog:after {
		top: 8px;
	}
	.step_box {
		height: auto;
		margin-top: 10px;
		padding: 23px 30px;
		text-align: left;
	}

	.icon_step {
		width: 48px;
		height: 40px;
	}

	.how-to {
		margin-bottom: 10px;
		word-break: break-word;
	}

	.desktop-ads {
		display: none;
	}
	.top-page .statelist li {
		width: 50%;
		flex: 0 0 50%;
	}
	.top_statetitle {
		flex-direction: column;
	}
	.top-page .statelist .location_box,
	.top-page .statelist .next {
		display: none;
	}
	.top-page .statelist li a {
		padding: 8px 14px;
	}
	.top-more {
		width: calc(100% - 32px);
		position: fixed;
		bottom: 0;
		z-index: 1;
	}
	.top-page + footer,
	.top-page + ins + footer {
		display: none;
	}
	.top-page .statelist {
		margin-bottom: 60px;
	}
	.top-mobile-no {
		display: none;
	}
	.car-list-item {
		width: 100%;
		margin-bottom: 16px;
	}
	.car-banner-img {
		height: 90px;
	}
	.car-btn-item {
		font-size: 14px;
	}
	.select-title-box {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px) {
	.info li span:nth-child(2) {
		display: inline-block;
		width: 84%;
	}

	.state_list li .state_list_box {
		display: block;
	}

	.state_title {
		margin-right: 14px;
	}

	.indexitm-banner-tit {
		margin: 40px 0 16px;
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.indexitm-search-wrap {
		width: calc(100% + 32px);
		transform: translateX(-16px);
		border-radius: 0;
		box-shadow: none;
	}

	.more,
	.next-clinic-wl {
		flex-direction: column;
	}

	.like_office,
	.next-clinic-btn,
	.next-clinic-wl .next-clinic-btn {
		width: 100%;
		flex: 0 0 100%;
		height: 40px;
		line-height: 40px;
	}

	.like_office {
		margin: 0 0 10px;
	}

	.next-clinic-wl .next-clinic-blue {
		margin-top: 10px;
	}

	.more {
		margin: 10px 0 10px;
	}

	.next-clinic-wl {
		margin: 10px 0 0;
	}
}

@media screen and (max-width: 425px) {
	.button-results {
		width: 50%;
	}
	.filter-bar {
		margin: 10px auto;
		padding: 0 20px;
	}
	.filter-box {
		min-width: 360px;
	}

	.sub_box {
		width: 300px;
		height: 458px;
		padding: 24px;
	}

	.sub_box img {
		width: 204px;
	}
	.car-list {
		margin-right: -16px;
	}
	.car-list-item {
		padding-right: 16px;
	}
}
@media screen and (max-width: 360px) {
	.statelist li {
		flex: 0 0 100%;
	}
}
